@model MovieNight.Data.ViewModels.IActorsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Actors</h1>
<h3>@Model.Message</h3>
<div>The average age of the actors is @Model.AgeAverage</div>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Age
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var actor in Model.Actors)
    {
        <tr>
            <td>
                @actor.Age
            </td>
            <td>
                @actor.FirstName
            </td>
            <td>
                @actor.LastName
            </td>
        </tr>
    }
    </tbody>
</table>
